apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
  namespace: leafnoise-devops-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: ghcr.io/lichdencor/leafnoise-backend:latest
          ports:
            - containerPort: 8000
