apiVersion: v1
kind: Service
metadata:
  name: flask-backend
  namespace: leafnoise-devops-test
spec:
  selector:
    app: backend
  ports:
    - name: http
      port: 8000
      targetPort: 8000
  type: ClusterIP
