apiVersion: v1
kind: Service
metadata:
  name: frontend-service
  namespace: leafnoise-devops-test
spec:
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 5173
  type: LoadBalancer
