apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: leafnoise-devops-test
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/lichdencor/leafnoise-frontend:latest
          ports:
            - containerPort: 5173
          env:
            - name: BACKEND_URL
              value: "http://flask-backend:8000"
