name: Build and Publish Docker Images

on:
  push:
    branches:
      - master
    tags:
      - "v*.*.*"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push images using Bake
        uses: docker/bake-action@v5
        with:
          files: docker-bake.hcl
          push: true
          set: |
            backend.tags=ghcr.io/${{ github.actor }}/leafnoise-backend:latest
            frontend.tags=ghcr.io/${{ github.actor }}/leafnoise-frontend:latest
